<h1 class="text-center mb-5 mt-3">Add Client</h1>
<form #f="ngForm" (ngSubmit)="addClient()">
    <fieldset>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Nom" [value]="client.nom" [(ngModel)]="client.nom" name="nom" #nom="ngModel" required>
            <span class="text-danger mb-2 mt-2" *ngIf="nom.invalid && nom.touched">Nom is required</span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [value]="client.email" [(ngModel)]="client.email" name="email" #email="ngModel" required>
            <span class="text-danger mb-2 mt-2" *ngIf="email.invalid && email.touched">Email is required</span>
            <span class="text-danger mb-2 mt-2" *ngIf="email.invalid && email.touched && email.errors">Email invalid</span>
        </div>
        <div class="form-group">
            <label for="tel">Telephone</label>
            <input type="text" class="form-control" id="tel" placeholder="Telephone" [value]="client.tel" [(ngModel)]="client.tel" name="tel" #tel="ngModel" required>
            <span class="text-danger mb-2 mt-2" *ngIf="tel.invalid && tel.touched">Telephone is required</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Password" [value]="client.password" [(ngModel)]="client.password" name="password" #pass="ngModel" required>
            <span class="text-danger mb-2 mt-2" *ngIf="pass.invalid && pass.touched">Password is required</span>
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="f.invalid">Submit</button>
    </fieldset>
</form>